# Copie este arquivo para .env e preencha os valores abaixo
# Porta onde o servidor Express irá rodar
PORT=5000

# String de conexão completa do MongoDB Atlas
# Substitua <db_password> pela senha definida no Atlas
MONGO_URI=mongodb+srv://marcosaureliokrunn_db_user:<db_password>@dultive.9976wkz.mongodb.net/?retryWrites=true&w=majority&appName=Dultive

# Nome do banco de dados que será utilizado dentro do cluster
MONGO_DB_NAME=dultive

# Chave usada para assinar os tokens JWT
JWT_SECRET=troque-por-uma-string-segura
